/* general body styling */
body {
	height: 100vh;
	margin-bottom: 60px;
	padding: 0;
	overflow: hidden;
}

/* styling the background image for the globe, setting size, creating animation time and background shadows */
#globe {
	background: url(background.png);
	background-size: cover;
	border: 2px solid #000;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	animation: movimiento 60s linear 0s infinite;
	box-shadow: 0 0 25px RGBA(255, 255, 255, 0.1), -8px -8px 15px #000 inset,
		2px 2px 25px #000 inset, -45px -45px 25px RGBA(0, 0, 0, 0.5) inset,
		25px 25px 45px RGBA(0, 0, 0, 0.45) inset;
	margin: 15px auto;
}

#homePageText {
	background: white;
	margin: 15px 150px 0px 150px;
}

/* start and finish position */
@keyframes movimiento {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 355px 0;
	}
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

/* close buttong hover and focus features */
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#add_button {
	margin: 0 auto;
}

/* footer styling */
#footer {
	display: flex;
	flex-direction: row;
	position: fixed;
	height: 60px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	text-align: center;
	justify-content: space-around;
}
/* hover styling for buttons */
.button:hover {
	background-color: rgb(146, 235, 255);
	cursor: pointer;
}

/* home page div styling containing h1, h2 and sign in button */
.is-flex {
	text-align: center;
	border: solid black 2px;
	border-radius: 30px;
	/* opacity: 75%; */
}

/* styling for homepage h1 */
.is-size-1 {
	color: #000;
	text-decoration: underline 2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styling for homepage h2 */
.is-size-2 {
	color: #000;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* homepage sign in button */
.is-align-self-center {
	margin-bottom: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* styling for the list of countries on the landing page */
#countryList {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 70vh;
	max-height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	margin: 10vh 5vw 2vh 5vw;
}

/* styling for the list of holidays that display after country selection */
#holidayList {
	width: 50%;
	height: 70vh;
	max-height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
	margin: 10vh 5vw 2vh 5vw;
}
/* column styling for list of countries */
.column {
	display: grid;
	grid-template-columns: 1fr;
}

/* header for landing page */
.second-header {
	text-align: center;
}

/* styling for the button that adds holidays to calendar */
#add_button {
	margin-left: 50%;
	margin-right: 50%;
}

;